Source: ecdsautils
Section: utils
Priority: extra
Maintainer: Steffen Moeller <moeller@debian.org>
Build-Depends: debhelper (>= 8.0.0), cmake, libuecc-dev
Standards-Version: 3.9.6
Homepage: https://github.com/tcatm/ecdsautils
Vcs-Git: https://github.com/tcatm/ecdsautils.git
Vcs-Browser: https://github.com/tcatm/ecdsautils

Package: ecdsautils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ECDSA elliptic curve cryptography command line tools
 The package provides a series of tools to support, all
 on the basis of the uecc library the
  * generation
  * signing
  * verifification
 of keys for elliptic key cryptography.
 -
 The package became popular in the Freifunk Wireless
 networks communities.
